

.companyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  max-width: 400px;
  align-items: center;
}

.companyItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.companyItem span{
  font-weight: bold;
  color: #3F7C13;
}

.required-star{
  color: red;
}


/* Modal styles */
.firstlogincustom-modal .modal-dialog {
  max-width: 800px; 
  margin-left: 700px;
  margin-top: 80px;
}

.custom-modal .modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: 2px solid #ddd;
}

.custom-modal .modal-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.custom-modal .modal-body {
  padding: 20px;
}

.custom-modal .form-label {
  font-weight: bold;
}

.custom-modal .form-control {
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.custom-modal .form-control:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border-color: #007bff;
}

.custom-modal .required-star {
  color: red;
}

/* Modal Footer Button Styles */
.custom-modal .modal-footer {
  display: flex;
  align-items: center;
}

.custom-modal .modal-footer a {
  color: #007bff;
  text-decoration: none;
}

.custom-modal .modal-footer a:hover {
  text-decoration: underline;
}

.custom-modal .modal-footer button {
  font-weight: bold;
}

.custom-modal .modal-footer button:hover {
  background-color: #0056b3;
  color: white;
  transform: scale(1.05);
}

.custom-modal .modal-footer button:active {
  transform: scale(1);
}

.toast-container {
  font-size: 14px;
}

/* Adjust input fields when in modal */
.custom-modal .form-control {
  font-size: 14px;
  padding: 10px;
}

